@font-face {
	font-family: 'gothic';
	src: url(./fonts/gothic/gothic.woff);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-image: linear-gradient(to right, transparent, #181410, transparent), url('./imgs/4060492.jpg');
    background-size: 100%;
    background-attachment: fixed;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D6D9DC;
    font-family: 'gothic';
}

.header {
    text-align: center;
    background: rgba(246, 247, 248, 0.3);
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 80%;
    margin: 40px 0;
    padding: 50px;
}

.header h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.sign-up-form {
    background: rgba(246, 247, 248, 0.3);
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 80%;
    margin: 40px 0;
    padding: 50px;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

input[type='text'],
input[type='email'],
input[type='number'] {
    width: 100%;
    vertical-align: baseline;
    outline: none;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    background-color: transparent;
    padding: 12px 10px 12px;
    font-size: 16px;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}

input:invalid {
    border: 1px solid #b92326;
    background-color: rgba(185, 35, 38, 0.25);
}

input:focus:invalid {
    background-color: transparent;
    border: 1px solid #b92326;
}

input:invalid {
    color: #b92326;
}

input:invalid {
    color: #b92326;
}

input:valid {
    border: 1px solid #8BC34A;
    background-color: rgba(139, 195, 74, 0.25);
}

input:focus:valid {
    border: 1px solid #8BC34A;
    background-color: transparent;
}

input:valid {
    color: #8BC34A;
}

input:placeholder-shown {
    background-color: transparent;
    border: 1px solid #d8d8d8;
}

input::placeholder {
    color: #858585;
}

input:focus::placeholder {
    color: transparent;
}

.footer {
    text-align: center;
    background: rgba(246, 247, 248, 0.3);
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 80%;
    margin: 40px 0;
    padding: 50px;
}

button {
    background-color: transparent;
    border: 1px solid #8BC34A;
    color: #8BC34A;
    padding: 5px 15px;
    font-size: 16px;
    font-size: 1rem;
    margin: 15px auto;
    vertical-align: middle;
    display: block;
    cursor: pointer;
}

button:hover {
    background-color: rgba(139, 195, 74, 0.25);
    border: 1px solid #8BC34A;
}

@media only screen and (min-width: 700px) {
    .header,
    .sign-up-form,
    .footer {
        width: 600px;
    }
    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .form-row input[type='text'],
    .form-row input[type='email'],   
    .form-row input[type='number'] {             
        width: 250px;
        height: initial;
    }
    .form-row label {
        text-align: right;
        width: 170px;
        margin-top: 12px;
        padding-right: 10px;
      }
}